---
import Layout from "../layouts/Layout.astro";
import DisplayNavBar from "../sheng-ji-display/components/DisplayNavBar.svelte";
import version from "../version/version.json";
---

<Layout
    title="Privacy"
    description="Privacy policy for Edwin Chang's 升级 software."
    url="https://shengji.edwinchang.dev/privacy"
>
    <DisplayNavBar slot="navbar" versionNumber={version} client:only="svelte" />
    <div slot="content" class="bg-slate-900 min-h-dvh pt-24 pb-8 px-8 flex justify-center">
        <div class="max-w-2xl flex flex-col space-y-4">
            <h1 class="text-4xl font-bold">Privacy</h1>
            <p>
                This website is hosted on Cloudflare's platform. Please review <a
                    class="underline"
                    href="https://www.cloudflare.com/privacypolicy/"
                >
                    Cloudflare's privacy policy.
                </a>
            </p>
            <p>
                This website, and the software distributed by us through this website, do not
                contain trackers, advertisements, or cookies, and do not collect, transmit, share,
                or use any personal data of their users.
            </p>
            <p>
                This website, and the software distributed through this website, may contain links
                to external sites. We do not assume responsibility for the content, privacy
                policies, or practices of any third-party sites or services.
            </p>
        </div>
    </div>
</Layout>
